<h1> <%= @song.name %> </h1> 
<p> <%= link_to @song.genre.name, genre_path(@song.genre) %> | <%= link_to @song.artist.name, artist_path(@song.artist) %></p>
<br>
<p><%= link_to "See All Songs", songs_path %></p>